{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hook</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/shorthandcss@1.1.1/dist/shorthand.min.css" />
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900&display=swap" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
</head>

<body class="bg-black montserrat">
    <nav class="w-100pc flex flex-column md-flex-row md-px-10 py-5 bg-black">
        <div class="flex justify-between">
            <a href="https://fcbayern.com/en" class="flex items-center p-6 no-underline">
                <img class="max-h-l5 w-auto" src="{% static 'images/bayern_logo.png' %}" />
            </a>
            <a data-toggle="toggle-nav" data-target="#nav-items" href="#"
                class="flex items-center opacity-50 md-hidden ml-auto white hover-opacity-100 ease-300 p-6 m-3">
                <i data-feather="menu" style="width: 50px; height: 50px;"></i>
            </a>
        </div>
        <div id="nav-items" class="hidden flex sm-w-100pc flex-column md-flex md-flex-row md-justify-end items-center">
            <a href="#home" class=" fs-m3 mx-3 py-3 white no-underline fw-500 hover-underline">Home</a>
            <a href="#raum" class="fs-m3 mx-3 py-3 white no-underline fw-500 hover-underline">The Raumdeuter</a>
            <a href="#clips" class="fs-m3 mx-3 py-3 white no-underline fw-500 hover-underline">Clips</a>
        </div>
    </nav>

    <!-- hero section -->
    <section id="home" class="min-h-100vh flex justify-start items-center md-pb-l5">
        <div class="flex flex-column md-flex-row md-w-100pc mx-auto">
            <div class="w-100pc md-w-50pc content-center pt-l5 pl-l2 pb-10 md-pt-l10 md-pl-l10">
                <h1 class="white fs-l3 lh-2 md-fs-xl1 md-lh-1 fw-900 ">The one <br />The only <br /> Thomas Müller</h1>
                <div class="br-8 mt-10 inline-flex">
                    <a href="#qoute"
                        class="button-lg bg-red red-lightest focus-white pl-0 fw-600 no-underline fs-s3">                        
                        <div class="pb-l3 pr-l1">                        
                            <h1 class="white fw-900 fs-l3">ABOUT</h1>
                        </div></a>
                </div>
            </div>
            <div class="w-100pc md-w-50pc">
                <img src="{% static 'images/Muller_Hero.png' %}" alt="Welcome">
                </div>
            </div>
        </div>
    </section>

    <!-- big text -->
    <section id="qoute" class="p-10 md-py-10">
        <div class="w-100pc md-w-70pc mx-auto py-10 block">
            <h2 class="white fs-l2 md-fs-xl1 fw-900 lh-2 text-center">
                Always at the right <span class="border-b bc-red bw-4">place</span>, <br /> at the right
                <span class="border-b bc-red bw-4">time</span></h2>
        </div>
    </section>

    <!-- slider -->
    <section class="relative bg-red-darker-50">
        <div id="slider-1">
            <div class="p-l5 md-p-l5 flex justify-center items-center flex-column text-center">
                <h5 class="white fs-m3 md-fs-l3 fw-900">Thomas Müller can’t beat you with his close ball control. He can’t beat you with his pace. And he can’t beat you with his dribbling skills. He just beats you.</h5>
                <p class="red-lightest fw-600 fs-m5 opacity-30 my-5"> - The Guardian </p>
            </div>
            <div class="p-5 md-p-l5 flex justify-center items-center flex-column text-center">
                <h1 class="white fs-l3 fw-900 fs-l5">"Luck and misfortune are closely intertwined.</h1>
                <p class="red-lightest fw-600 fs-m5 opacity-30 my-5"> - Thomas Muller</p>

            </div>
            <div class="p-5 md-p-l5 flex justify-center items-center flex-column text-center">
                <h2 class="white fs-l3 fw-900">I like to be active in space in behind the opposition's midfield. That's where I can hurt the opponent most of all.</h2>
                <p class="red-lightest fw-600 fs-m5 opacity-30 my-5"> - Thomas Muller </p>
            </div>
        </div>
        <ul class="absolute list-none w-100pc flex justify-between top-50pc bottom-50pc">
            <li><button
                    class="prev ml-10 white flex justify-center items-center p-2 focus-red-lighter outline-none" style="border:none;background:none;"><i
                        data-feather="chevron-left" style="width: 70px; height: 70px;"></i></button></li>
            <li><button
                    class="next mr-10 white flex justify-center items-center p-2  focus-red-lighter outline-none" style="border:none;background:none;"><i
                        data-feather="chevron-right" style="width: 70px; height: 70px;"></i></button></li>
        </ul>
    </section>


    <!-- hero section -->
    <section id="raum-front" class="min-h-100vh flex justify-start items-center pb-l5 pt-l5">
        <div class="absolute pt-l10">
            <img src="{% static 'images/Muller_back.png' %}" alt="back">
        </div>
        <div class="flex flex-column md-flex-row md-w-100pc mx-auto relative">
            <div class="w-100pc md-w-50pc content-center md-pt-l10 mt-l10 pl-l10">

                <p class="white fs-m1 lh-2 md-fs-l3 md-lh-1 pt-l10 fw-900 relative">"You have to adapt and find your niche, in terms of the type of player you can become,
                    both on and off the pitch. I always knew I'd have no chance against a 1.90m, 90kg defender in a duel, so the key is to avoid these situations
                    altogether. You have to pick your space and time.
                </p>
            </div>
            <div class="w-100pc md-w-50pc">
                <img class="hsmall" src="{% static 'images/Muller_back_bg.png' %}" alt="back">
                </div>
            </div>
        </div>
    </section>

    <!-- big text -->
    <section class="pt-l10 pb-10 md-py-10">
        <div class="w-100pc md-w-70pc mx-auto py-10 block items-center">
            <h2 class="white fs-l5 fw-900 lh-2 text-center">
                Tactics of The Raumdeuter</h2>
            <p class="red-lightest fw-600 fs-m5 opacity-30 my-5 p-5 text-center">The space interpreter is by most measures of technical prowess, average. Yet, his shots find the back of the net time after time. How does he do it?</p>
        </div>

    </section>

    <!-- features -->
    <section id="raum" class="p-10 md-p-l5">
        <div class="flex flex-column md-flex-row mx-auto">
            <div class="w-100pc md-w-40pc">
                <div class="absolute object-cover overflow-hidden w-30pc md-w-10pc">
                    <img class="object-cover overflow-hidden" src="{% static 'images/Muller_back.png' %}" alt="back">
                </div>
                <div class="br-8 p-5 m-5 pointer hover-scale-up-1 ease-300 relative">
                    <div class="br-8 p-5 m-5">
                        <h4 class="white fw-600 fs-m3 mb-5">Footballing Intelligence</h4>
                        <div class="red-lightest fw-600 fs-m1 lh-3 opacity-50">As one of the most intelligent forward, Muller has a deep appreciation for space. Through a combination of perfectly timed runs and off-the-ball movements, he is always in-front of the goal unmarked.</div>
                        <a href="#"
                            class="mt-5 button bg-red-lightest-10 fs-s3 white no-underline hover-opacity-100 hover-scale-up-1 ease-300">Read</a>
                    </div>
                </div>
            </div>
            <div class="w-100pc md-w-40pc">
                <div class="absolute object-cover overflow-hidden w-30pc md-w-10pc">
                    <img class="object-cover overflow-hidden" src="{% static 'images/Muller_shoot_crop_2.png' %}" alt="back">
                </div>
                <div class="br-8 p-5 m-5 pointer hover-scale-up-1 ease-300 relative">
                    <div class="br-8 p-5 m-5">
                        <h4 class="white fw-600 fs-m3 mb-5">World-Class Finishing</h4>
                        <div class="red-lightest fw-600 fs-m1 opacity-50">When he finds himself free in-front of the goal, he takes his shot before the defenders can catch up to him. His direct shots and header techniques are world-class, as a perfect complement to his positioning.</div>
                        <a href="#"
                            class="mt-5 button bg-red-lightest-10 fs-s3 white no-underline hover-opacity-100 hover-scale-up-1 ease-300">Read</a>
                    </div>
                </div>
            </div>
            <div class="w-100pc md-w-40pc">
                <div class="absolute object-cover overflow-hidden w-30pc md-w-10pc">
                    <img class="object-cover overflow-hidden" src="{% static 'images/Muller_celebrate_crop.png' %}" alt="back">
                </div>
                <div class="br-8 p-5 m-5 pointer hover-scale-up-1 ease-300 relative">
                    <div class="br-8 p-5 m-5">
                    <h4 class="white fw-600 fs-m3 mb-5">Assist King</h4>
                    <div class="red-lightest fw-600 fs-m1 opacity-50">His plans also work in reverse. Just as he can find space for himself, he knows how to find space for other. This allows him to provide excellent balls for his teammates when they need it.</div>
                    <a href="#"
                        class="mt-5 button bg-red-lightest-10 fs-s3 white no-underline hover-opacity-100 hover-scale-up-1 ease-300">Read</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- imageslider -->
    <section class="p-10 md-p-l5">
        <div id="slider-2">
            <div class="px-3">
                <div class="p-0 m-0 br-8 bg-red-lightest-10 relative">
                    <img class="br-8 h-80" src="{% static 'images/Thomas_goal_1.jpg' %}" alt="back">
                </div>
            </div>
            <div class="px-3">
                <div class="p-0 m-0 br-8 bg-red-lightest-10 relative">
                    <img class="br-8" src="{% static 'images/Thomas_goal_2.jpg' %}" alt="back">
                </div>
            </div>
            <div class="px-3">
                <div class="p-0 m-0 br-8 bg-red-lightest-10 relative">
                    <img class="br-8" src="{% static 'images/Thomas_goal_3.jpg' %}" alt="back">
                </div>
            </div>
            <div class="px-3">
                <div class="p-0 m-0 br-8 bg-red-lightest-10 relative">
                    <img class="br-8" src="{% static 'images/Thomas_goal_4.jpg' %}" alt="back">
                </div>
            </div>
        </div>
    </section>

    <!-- big text -->
    <section class="p-10 md-py-10">
        <div class="w-100pc md-w-70pc mx-auto py-10">
            <h2 class="white fs-l2 md-fs-xl1 fw-900 lh-2">
                ‘My game is more <span class="border-b bc-red bw-4">logical</span> than just talent </h2>
        </div>
    </section>

    <!-- featured blog -->
    <section id="clips" class="p-10 md-p-l5">
        <div class="md-w-75pc">
            <h2 class="white fs-l3 fw-900 lh-1">WHY Thomas Müller is the world's most underrated player</h2>
            <p class="red-lightest fw-600 fs-m1 opacity-50 my-5">The space interpreter invades</p>
        </div>
        <div class="relative w-100pc h-75vh bg-cover bg-b">        
            <iframe class="w-100pc h-75vh" src="https://www.youtube.com/embed/8XH9WbTAt3M" frameborder="0" allowfullscreen>
        </iframe>
        </div>
    </section>


    <!-- blog -->
    <section class="p-0 md-p-5 bg-red-darker-50">
        <div class="flex flex-wrap">
            <div class="w-100pc md-w-33pc p-10">
                <a href="https://www.bavarianfootballworks.com/2021/10/4/22707543/bayern-munich-thomas-muller-bundesliga-eintracht-frankfurt-interview-loss-julian-nagelsmann-setback" class="block no-underline p-5 br-8 hover-bg-red-lightest-10 hover-scale-up-1 ease-300">
                    <img class="w-100pc" src="https://cdn.vox-cdn.com/thumbor/Kq0MLUdISfaxWpPC9hJB_DVIgcs=/0x0:2559x3126/920x613/filters:focal(441x243:849x651):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/69946002/1344617413.0.jpg" alt="">
                    <p class="fw-600 white fs-m3 mt-3">
                        Thomas Muller expresses his disappointment at Bayern Munich’s loss to Eintracht FrankfurtLorem
                    </p>
                    <div class="white fs-s3 italic my-4">Oct 4, 2021, 12:30am CEST</div>
                </a>
            </div>
            <div class="w-100pc md-w-33pc p-10">
                <a href="https://www.bavarianfootballworks.com/2021/9/7/22660473/bayern-munich-thomas-muller-unofficial-promotion-player-coach-julian-nagelsmann-hansi-flick" class="block no-underline p-5 br-8 hover-bg-red-lightest-10 hover-scale-up-1 ease-300">
                    <img class="w-100pc" src="https://cdn.vox-cdn.com/thumbor/lTMUADsInLRt6zhfGq4m8RcBcAQ=/0x0:2495x1618/920x613/filters:focal(1014x209:1412x607):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/69824788/1337852748.0.jpg" alt="">
                    <p class="fw-600 white fs-m3 mt-3">
                        Thomas Muller unofficially promoted to player-coach of Bayern Munich
                    </p>
                    <div class="white fs-s3 italic my-4">Updated Sep 8, 2021, 10:50am CEST</div>
                </a>
            </div>
            <div class="w-100pc md-w-33pc p-10">
                <a href="https://www.bavarianfootballworks.com/2021/10/2/22705757/bayern-munich-thomas-muller-contract-extension-likely-julian-nagelsmann-rummenigge-kimmich-goretzka" class="block no-underline p-5 br-8 hover-bg-red-lightest-10 hover-scale-up-1 ease-300">
                    <img class="w-100pc" src="https://cdn.vox-cdn.com/thumbor/rhvWPDio-6MDz7GC5KDH-1zaMlM=/0x0:5184x3456/920x613/filters:focal(2275x537:3103x1365):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/69941942/1344009859.0.jpg" alt="">
                    <p class="fw-600 white fs-m3 mt-3">
                        Thomas Muller likely to extend Bayern Munich contract beyond 2023</p>
                    <div class="white fs-s3 italic my-4">Oct 2, 2021, 8:00pm CEST</div>
                </a>
            </div>

        </div>
    </section>

    <!-- footer -->
    <footer class="p-5 md-p-l5 bg-red-darker-30">
        <div class="flex flex-wrap">
            <div class="md-w-25pc mb-10">
                <a href="https://www.linkedin.com/in/cuong-phan-249612175/">
                <img src="{% static 'images/bayern_logo.png' %}" class="w-l5" alt="">
                </a>
                <div class="white opacity-70 fs-s2 mt-4 md-pr-10">
                    <p>This is a fan account of someone who likes Thomas Muller, and also is used for the purpose of demonstrating web-development knowledge</p>
                    <br>
                    <p>If you're interested in seeing the linkedin of the person who developed this, please click on the bayern munich logo above to be referred to my linkedin. Thank you for your time.</p>
                </div>
                <div class="flex justify-around my-8 md-pr-l5">
                    <a href="#" class="relative p-7 bg-red-darkest-80 br-round white hover-scale-up-1 ease-400"><i
                            data-feather="twitter" class="absolute-center h-8"></i></a>
                    <a href="#" class="relative p-7 bg-red-darkest-80 br-round white hover-scale-up-1 ease-400"><i
                            data-feather="facebook" class="absolute-center h-8"></i></a>
                    <a href="#" class="relative p-7 bg-red-darkest-80 br-round white hover-scale-up-1 ease-400"><i
                            data-feather="instagram" class="absolute-center h-8"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0.0/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/jquery.magnific-popup.min.js"></script>
</body>

</html>